body {
	padding-top: 50px;
}

.cycle-slideshow, .cycle-slide, .img {
	width:100%;
}

footer {
	width: 100%;
	background: #ccc;
	padding: 15px 0px;

}

.nav-pills li a {background: #4DA6ff; color: #fff; margin: 1px;}

.nav-pills li a:hover {background: #006dd9;}

/*.categorias li a:hover {
	background: blue;
	color: white;
}*/